<div class="row">
  <div class="col-lg-12">
    <div class="card card-outline-info">
      <div class="card-block">
        <%= form_with(model: denuncium, local: true) do |form| %>
        <% if denuncium.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(denuncium.errors.count, "error") %> prohibited this denuncium from being saved:</h2>

          <ul>
            <% denuncium.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end %> 
        <div class="form-body">

          <!--Primera fila-->
          <div class="row p-t-20">

            <!--primera columna-->
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">Tipo Persona</label>
                <%= form.text_field :item, id: :persona_item, class: 'form-control', required: 'required' %>

              </div>
            </div>
            <!--fin primera columna-->

            <!--segunda columna-->
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">CI</label>
                <%= form.text_field :ci, id: :persona_ci,  class: 'form-control', required: 'required' %>

              </div>
            </div>
            <!-- fin segunda columna -->

            <!-- tercera columna -->
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Nombre</label>
                <%= form.text_field :nombre, id: :persona_nombre, class: 'form-control', required: 'required' %>
              </div>
            </div>
            <!-- fin tercera columna -->

          </div>
          <!--fin primera fila-->
          
          

        </div>      
      </div>
    </div>
  </div>  
</div>




  <div class="field">
    <%= form.label :tipo_pe_persona %>
    <%= form.text_field :tipo_pe_persona, id: :denuncium_tipo_pe_persona %>
  </div>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :denuncium_nombre %>
  </div>

  <div class="field">
    <%= form.label :ci %>
    <%= form.text_field :ci, id: :denuncium_ci %>
  </div>

  <div class="field">
    <%= form.label :ru_item %>
    <%= form.text_field :ru_item, id: :denuncium_ru_item %>
  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_select :fecha, id: :denuncium_fecha %>
  </div>

  <div class="field">
    <%= form.label :facultad_id %>
    <%= form.number_field :facultad_id, id: :denuncium_facultad_id %>
  </div>

  <div class="field">
    <%= form.label :carrera_id %>
    <%= form.number_field :carrera_id, id: :denuncium_carrera_id %>
  </div>

  <div class="field">
    <%= form.label :tipo_resol %>
    <%= form.text_field :tipo_resol, id: :denuncium_tipo_resol %>
  </div>

  <div class="field">
    <%= form.label :codigo_caso %>
    <%= form.text_field :codigo_caso, id: :denuncium_codigo_caso %>
  </div>

  <div class="field">
    <%= form.label :direccion %>
    <%= form.text_field :direccion, id: :denuncium_direccion %>
  </div>

  <div class="field">
    <%= form.label :telefono %>
    <%= form.text_field :telefono, id: :denuncium_telefono %>
  </div>

  <div class="field">
    <%= form.label :observaciones %>
    <%= form.text_field :observaciones, id: :denuncium_observaciones %>
  </div>

  <div class="field">
    <%= form.label :fallo %>
    <%= form.text_field :fallo, id: :denuncium_fallo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
