<div class="row">
  <div class="col-lg-12">
    <div class="card card-outline-info">
      <div class="card-block">
        <%= form_with(model: denuncium, local: true) do |form| %>
        <% if denuncium.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(denuncium.errors.count, "error") %> prohibited this denuncium from being saved:</h2>

          <ul>
            <% denuncium.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end %> 
        <div class="form-body">
          <div class="row p-t-20">
            <!-- primera columna-->
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label"> BUSCAR CI</label>
                <%= form.text_field :ci, id: :denuncium_ci, class: 'form-control' %>
              </div>
            </div>
            <!-- fin primera columna -->

            <!-- segunda columna-->
            <div class="col-md-8">
              <div class="form-group">
                <label class="control-label">DATO SELECCIONADO</label>
                <div id="carga_nombre">
                  
                </div>
              </div>
            </div>
            <!-- fin segunda columna -->

          </div>


          <div class="row p-t-20">
            <div class="col-md-12">
                <div id="des_personas"></div>
            </div>
          </div>

          <div id="nueva_denuncia" style="display: none;">
          <!--Primera fila-->
          <div class="row p-t-20">

            <!--primera columna-->
            <div class="col-md-2">
              <div class="form-group">
                <label class="control-label">Tipo Persona</label>
                <%= select_tag "denuncium[tipo_pe_persona]", 
                    options_for_select([['Denunciante'], ['Denunciado']]), 
                    {
                      :class => 'form-control', 
                      required: 'required',
                    } 
                %>
              </div>
            </div>
            <!--fin primera columna-->

            <!-- tercera columna -->
            <div class="col-md-2">
              <div class="form-group">
                <label class="control-label">Fallo</label>
                <%= select_tag "denuncium[tipo_pe_persona]", 
                options_for_select([['SI'], ['NO']]), 
                {
                  :class => 'form-control', 
                  required: 'required',
                } 
                %>
              </div>
            </div>
            <!-- fin tercera columna -->

          </div>
          <!--fin primera fila-->
        </div>

          <div class="form-actions">
            <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Save</button>
            <button type="button" class="btn btn-inverse">Cancel</button>
          </div>

        </div>      
      </div>
    </div>
  </div>  
</div>
<% end %>
<script>
  $("#denuncium_ci").keyup(function () {
    var campo_texto = $("#denuncium_ci").val();
    var cantidad_letras = campo_texto.length;
    // console.log('var: '+campo_texto);
    if(cantidad_letras > 3){        
      Rails.ajax({
        type: 'GET',
        url: '/denuncias/busca_ci_ajax/'+campo_texto,
        data: {"dato_crt": campo_texto},
        success: function(data, textStatus, jqXHR){
          $("#des_personas").load('/denuncias/busca_ci_ajax/'+campo_texto);
          console.log('retorno '+ data);
        }
      });
    }
  });
</script>