<div class="row">
  <div class="col-lg-12">
    <div class="card card-outline-info">
      <div class="card-block">
        <%= form_with(model: denuncium, local: true) do |form| %>
        <% if denuncium.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(denuncium.errors.count, "error") %> prohibited this denuncium from being saved:</h2>

          <ul>
            <% denuncium.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end %> 
        <div class="form-body">

          <!--Primera fila-->
          <div class="row p-t-20">

            <!--primera columna-->
            <div class="col-md-2">
              <div class="form-group">
                <label class="control-label">Tipo Persona</label>
                <%= select_tag "denuncium[tipo_pe_persona]", 
                    options_for_select([['Denunciante'], ['Denunciado']]), 
                    {
                      :class => 'form-control', 
                      required: 'required',
                    } 
                %>
              </div>
            </div>
            <!--fin primera columna-->

            <!--segunda columna-->
            <div class="col-md-5">
              <div class="form-group">
                <label class="control-label">CI</label>
                <%= form.text_field :ci, id: :denuncium_ci, class: 'form-control' %>
                <div id="des_personas"></div>
              </div>
            </div>
            <!-- fin segunda columna -->

            <!-- tercera columna -->
            <div class="col-md-5">
              <div class="form-group">
                <label class="control-label">Nombre</label>
                <%= form.text_field :nombre, id: :denuncium_nombre, class: 'form-control' %>
              </div>
            </div>
            <!-- fin tercera columna -->

          </div>
          <!--fin primera fila-->
          
          <!-- segunda fila -->
          <div class="row p-t-20">

            <!--primera columna-->
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">Ru / Item</label>
                <%= form.text_field :ru_item, id: :denuncium_ru_item, class: 'form-control' %>
              </div>
            </div>
            <!--fin primera columna-->

            <!--segunda columna-->
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">Fecha</label>
                <%= form.date_field :fecha, id: :denuncium_fecha,  class: 'form-control', required: 'required' %>
              </div>
            </div>
            <!-- fin segunda columna -->

          </div>
          <!-- fin segunda fila -->

          <!-- tercera fila -->
          <div class="row p-t-20">

            <!--primera columna-->
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Facultad</label>
                <% form.number_field :facultad_id, id: :denuncium_facultad_id, class: 'form-control' %>
                <%= select_tag "denuncium[facultad_id]", 
                options_from_collection_for_select(
                  Facultade.where(
                    borrado: nil, 
                    ).order(
                    nombre: :asc
                    ), 
                    :id, 
                    :nombre, 
                    :selected => form.object.facultad_id
                    ), 
                {
                  :class => 'form-control', 
                  :prompt => "Seleccione Facultad"
                } 
                %>
              </div>
            </div>
            <!--fin primera columna-->

            <!--segunda columna-->
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">Carrera</label>
                <% form.number_field :carrera_id, id: :denuncium_carrera_id, class: 'form-control' %>
                <%= select_tag "denuncium[carrera_id]", 
                options_from_collection_for_select(
                  Carrera.order(
                    nombre: :asc
                    ), 
                    :id, 
                    :nombre, 
                    :selected => form.object.carrera_id
                    ), 
                {
                  :class => 'form-control', 
                  :prompt => "Seleccione Carrera"
                } 
                %>
              </div>
            </div>
            <!-- fin segunda columna -->

            <!-- tercera columna -->
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">Tipo Resolucion</label>
                <% form.text_field :tipo_resol, id: :denuncium_tipo_resol, class: 'form-control' %>
                <%= select_tag "denuncium[tipo_resol]", 
                options_for_select([['Facultativa'], ['HCU']]), 
                {
                  :class => 'form-control', 
                  required: 'required',
                } 
                %>
              </div>
            </div>
            <!-- fin tercera columna -->

          </div>
          <!-- fin tercera fila -->

          <!-- cuarta fila -->
          <div class="row p-t-20">

            <!--primera columna-->
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">Codigo</label>
                <%= form.text_field :codigo_caso, id: :denuncium_codigo_caso, class: 'form-control' %>
              </div>
            </div>
            <!--fin primera columna-->

            <!--segunda columna-->
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">Direccion</label>
                <%= form.text_field :direccion, id: :denuncium_direccion, class: 'form-control' %>
              </div>
            </div>
            <!-- fin segunda columna -->

            <!-- tercera columna -->
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Telefono</label>
                <%= form.text_field :telefono, id: :denuncium_telefono, class: 'form-control' %>
              </div>
            </div>
            <!-- fin tercera columna -->

          </div>
          <!-- fin cuarta fila -->

          <!-- quita fila -->
          <div class="row p-t-20">

            <!--primera columna-->
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">Fallo</label>
                <%= form.text_field :fallo, id: :denuncium_fallo, class: 'form-control' %>
              </div>
            </div>
            <!--fin primera columna-->

            <!--segunda columna-->
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">Observaciones</label>
                <%= form.text_field :observaciones, id: :denuncium_observaciones, class: 'form-control' %>
              </div>
            </div>
            <!-- fin segunda columna -->

          </div>
          <!-- fin quinta fila -->

        </div>      
      </div>
    </div>
  </div>  
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<script>
  $("#denuncium_ci").keyup(function () {
    var campo_texto = $("#denuncium_ci").val();
    var cantidad_letras = campo_texto.length;
    console.log('var: '+campo_texto);
    if(cantidad_letras > 3){        
      Rails.ajax({
        type: 'GET',
        url: '/denuncias/busca_ci_ajax/'+campo_texto,
        data: {"dato_crt": campo_texto},
        success: function(data, textStatus, jqXHR){
          $("#des_personas").load('/denuncias/busca_ci_ajax/'+campo_texto);
          console.log('retorno '+ data);
        }
      });
    }
  });
</script>