<style type="text/css">
blockquote {
  padding: 3px 10px;
  border: Blue 5px solid;
  border-radius: 20px;
}
</style>

<style>

@media print {
    /*@page {
        size: letter landscape
    }
*/
    .left-sidebar{
			display: none;
		}

		.topbar{
			display: none;
		}

}

</style>

<!--1ra fila para poner fecha y correlativo del certificado-->
<div class="row">
	<div class="col-md-12">
		
		<table border="1">
			<tr>
				<td width="20%">
					<blockquote>
						<time datetime="fechaISO">
							<%= @datos_denuncia.fecha %>
						</time>
						<b>COM.UNIV.PROC.CERTF:<%= @datos_denuncia.codigo_caso %></b>
					</blockquote>
				</td>
				<td></td>
			</tr>
		</table>

		<p>
			<div class="Certificados de procesos print">
				
			</p>
		</div>
	</div>
</div>
<!--1ra fila fin-->


<div class="row">
	<div class="col-md-12">
		<div class="pull-left text-justify">
			
			<p>
				<hr>
				<h4 class="font-Arial">La Comision Universitaraia de Procesos del Honborable Consejo Universitario de la Universidad Mayor de San Andres, a solicitud escrita del Interesado.</h4> </p> </hr>
				<br>
				<h2 class="font-bold"> Certifica:</h2> </br>

				<h4 class="font-Arial"> Que, revisada la documentacion en la Comision de Procesos, se evidencia que:</h4>

				<!--segunda fila para escoger el nombre de los certificados-->
				
				<div class="row">
					<div class="cold-md-12">
						<div class="pull-right text-center">
							<hr>
							<h3 class="font-bold">
								<% debug @datos_denuncia %>
								<%= @datos_denuncia.persona.nombre %> 
								<%= @datos_denuncia.persona.ap_paterno %> 
								<%= @datos_denuncia.persona.ap_materno %> 
							</h3>
							<h3 class="font-bold">CI. <%= @datos_denuncia.persona.ci %> 
							</h3>
						</p>
					</hr>
					<!--fin de segunda fila-->


					<!--tercera fila para escoger el fallo de los certificados-->
					<div class="row">
						<div class="col-md-12">
							<div class="pull-right text-justify">
								<p>
									<hr>
									<h4 class="font-Arial">A la fecha <B><%= @datos_denuncia.fallo %></b> 
  tiene fallo sancionatorio en su contra, es cuanto certificamos para los fines consiguientes.</h4> </p> </hr>
									<!--tercera fila fin-->

									<table border="0">
										<tr>
											<td width="20%" height="300px">
												&nbsp;
											</td>
											<td></td>
										</tr>
									</table>

									<table>
										<tr>
											<td>
												Dr. Mauricio E. Farfan Espinoza<BR />
												JEFE DE COMISION DE PROCESOS
											</td>
											<td width="150px;">
												
											</td>
											<td>
												Ing. Alberto Arce <br />
												SECRETARIO GENERAL											

											</td>
										</tr>
									</table>

									<!--para imprimir cuarta fila-->
									<div class="CERTIFICADO DE PROCEOS print">
										<div class="clearfix"></div>
										<hr>
										<div class="text-right">
											<button class="btn btn-danger" type="submit"> Imprimir </button>
											<button id="print" class="btn btn-default btn-outline" type="button"> <span><i class="fa fa-print"></i> imprimir</span> </button>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>            

                                            