<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo pe persona:</strong>
  <%= @denuncium.tipo_pe_persona %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @denuncium.nombre %>
</p>

<p>
  <strong>Ci:</strong>
  <%= @denuncium.ci %>
</p>

<p>
  <strong>Ru item:</strong>
  <%= @denuncium.ru_item %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @denuncium.fecha %>
</p>

<p>
  <strong>Facultad:</strong>
  <%= @denuncium.facultad_id %>
</p>

<p>
  <strong>Carrera:</strong>
  <%= @denuncium.carrera_id %>
</p>

<p>
  <strong>Tipo resol:</strong>
  <%= @denuncium.tipo_resol %>
</p>

<p>
  <strong>Codigo caso:</strong>
  <%= @denuncium.codigo_caso %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @denuncium.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @denuncium.telefono %>
</p>

<p>
  <strong>Observaciones:</strong>
  <%= @denuncium.observaciones %>
</p>

<p>
  <strong>Fallo:</strong>
  <%= @denuncium.fallo %>
</p>

<%= link_to 'Edit', edit_denuncium_path(@denuncium) %> |
<%= link_to 'Back', denuncia_path %>
