<style type="text/css">
blockquote {
  padding: 3px 10px;
  border: Black 5px solid;
  border-radius: 20px;
}
</style>

<style>

@media print {
    /*@page {
        size: letter landscape
    }
*/
    .left-sidebar{
      display: none;
    }

    .topbar{
      display: none;
    }

}

</style>
<h2>Reporte en Fechas</h2>
<p><div class="Certificados de procesos print"></p></div>
<!--3ra fila -->
  <div class="row">
    <div class="col-md-6">
      <div style="text-align:center;">
        Listado de impreso Grupales
        <table border="1"style="margin: 0 auto;">
          <thead>
            <tr>
              <td>Nombre</td>
              <td>CI</td>
              <td>N reg</td>
              <td>Certificado</td>
              <td>Fecha</td>
            </tr>
        </thead>
        <tbody>
          <% @listado_grupales.each do |lg| %>
          <% if !lg.impreso.fecha_emi_certf.blank? %>
            <tr>
              <td><%= lg.persona.nombre %> <%= lg.persona.ap_paterno %> <%= lg.persona.ap_materno %></td>
              <td><%= lg.persona.ci %></td>
              <td><%= lg.impreso.no_reg %></td>
              <td><%= lg.impreso.correlt_certf %></td>
              <td><%= lg.impreso.fecha_emi_certf %></td>
            </tr>
          <% else %>
            
          <% end %>
            
          <% end %>

        </tbody>
        
        </table>
      </div>
    </div>

    <div class="col-md-6">
      <div style="text-align:center;">
        Listado de impresos indivudules
        <table border="1"style="margin: 0 auto;">
          <thead>
            <tr>
              <td>Nombre</td>
              <td>CI</td>
              <td>N reg</td>
              <td>Certificado</td>
              <td>Fallo</td>
              <td>Fecha</td>
            </tr>
        </thead>
        <tbody>
          <% @listado_individuales.each do |li| %>
            <% if !li.fecha_emi_certf.blank? %>
              <tr>
              <td><%= li.nombre %> <%= li.ap_paterno %> <%= li.ap_materno %></td>
              <td><%= li.ci %></td>
              <td><%= li.no_reg %></td>
              <td><%= li.correlt_certf %></td>
              <td><%= li.fallo %></td>
              <td><%= li.fecha_emi_certf %></td>
              </tr>
            <% end %>
            
          <% end %>

        </tbody>
        
        </table>
      </div>
    </div>
  </div>
<!--fin de 3ra fila-->