<div class="row page-titles">
  <div class="col-md-6 col-8 align-self-center">
    <h3 class="text-themecolor m-b-0 m-t-0">
      LISTADO DE USUARIOS &nbsp;
    </h3>
  </div>

  <div class="col-md-6 col-4 align-self-center">
    <a href="<%= new_user_path %>" class="btn pull-right  btn-success">Nuevo</a>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="mitabla" data-source="<%= users_path(format: :json) %>">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Rol</th>
                <th></th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>

<% content_for :add_css do %>
<link href="<%= asset_path '/assets/plugins/toast-master/css/jquery.toast.css' %>" rel="stylesheet">
<link href="<%= asset_path '/assets/plugins/sweetalert/sweetalert.css' %>" rel="stylesheet" type="text/css">
<% end %>
<% content_for :add_js do %>
<script src="<%= asset_path '/assets/plugins/datatables/jquery.dataTables.min.js' %>"></script>
<script src="<%= asset_path '/js/validation.js' %>"></script>
<script src="<%= asset_path '/assets/plugins/toast-master/js/jquery.toast.js' %>"></script>
<script src="<%= asset_path '/assets/plugins/sweetalert/sweetalert.min.js' %>"></script>
<script type="text/javascript">

  var table5 = $('#mitabla').DataTable({
    "processing": true,
    "serverSide": true,
    "ajax": $('#mitabla').data('source'),
    "pagingType": "full_numbers",
    "columns": [
    {"data": "nombre"},
    {"data": "email"},
    {"data": "rol"},
    {
      data: null,
      render: function ( data, type, row ) {
        btneditar = '<button class="btn btn-info editar_m" data-id="'+data['id']+'" title="Editar"><i class="fa fa-pencil"></i></button>';
        btneliminar = '<button class="btn btn-danger eliminar_m" data-id="'+data['id']+'" data-nombre="'+data['nombre']+'" title="Eliminar"><i class="fa fa-remove"></i></button>';
        return btneditar+ ' '+btneliminar;
      }
    }
    ],
    "oLanguage": {
      "sUrl": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
    }
  });
  var token = document.getElementsByName("csrf-token")[0].getAttribute('content');

  $(document).on('click','.editar_m',function(){
    el_id = $(this).data('id');
    cargarmodal('/users/'+el_id+'/edit');
  });

  $(document).on('click','.eliminar_m',function(){
    el_id = $(this).data('id');
    el_nombre = $(this).data('nombre');
    pregunta_eli('/users/'+el_id,'Eliminar el usuario '+el_nombre);
  });


  $(document).on('submit','#form-usuario',function(e){
    la_action = $(this).attr('action');
    los_datos = $(this).serializeArray();
    $.ajax({
      type: 'POST',
      url: la_action,
      dataType: "json",
      data: los_datos,
      success: function(data){
        $('#myModal').modal('hide');
        alertabn("Se registro correctamente los datos del usuario");
      },
      error: function(data){
        respusta_data = JSON.parse(data['responseText']);
        if(Object.keys(respusta_data)[0] == null){
          alert("Error!!");
        }else{
          mensajederror(Object.keys(respusta_data)[0]+": "+respusta_data[Object.keys(respusta_data)[0]]);
        }
      }
    });
    e.preventDefault();
  });



  function mensajederror(eltexto){
    $.toast({
      heading: 'Error',
      text: eltexto,
      position: 'top-right',
      loaderBg:'#ff6849',
      icon: 'error',
      hideAfter: 4500

    })
  }

  function alertabn(mensaje) {
    swal({
      title: "Excelente!",
      text: mensaje,
      type: 'success'
    }, function () {
      $(".lanzador").trigger("click");
    })
  }
  $(".lanzador").click(function(){
    table5.draw();
  });

  function pregunta_eli(urll, texto) {
    swal({
      title: "Esta seguro?",
      text: texto,
      type: "warning",
      showCancelButton: true,
      confirmButtonColor: "#DD6B55",
      confirmButtonText: "Si",
      cancelButtonText: "No",
      closeOnConfirm: false,
      closeOnCancel: false
    }, function (isConfirm) {
      if (isConfirm) {
        $.ajax(
        {
          url: urll,
          data: {
            _method: "delete",
            authenticity_token: token
          },
          dataType: "json",
          type: "POST",
          success: function (data, textStatus, jqXHR) {
            alertabn("Se ha eliminado correctamente al usuario");
          },
          error: function (jqXHR, textStatus, errorThrown) {
                            //if fails
                            alert("error");
                          }
                        });

      } else {
        swal("Cancelado", "(DE " + texto + ')', "error");
      }
    });
  }
</script>
<% end %>
