<nav class="sidebar-nav">
  <ul id="sidebarnav">
      <li>
          <a class="has-arrow" href="#" aria-expanded="false">
              <i class="mdi mdi-gauge"></i>
              <span class="hide-menu">SECRETARIA
                  <BR/>Emision de Certificados
              </span>
          </a>
          <ul aria-expanded="false" class="collapse">
              <li><%= link_to "Nuevo_persona", controller: "personas", action: "new" %></li>
              <li><%= link_to "Emision Certificado", controller: "personas", action:
                  "emisioncertf" %></li>
              <li><%= link_to "Emision Grupal", controller: "personas", action: "emisiongrupal" %></li>

          </ul>
      </li>

      <!--denuncias-->
      <li>
          <a class="has-arrow" href="#" aria-expanded="false">
              <i class="mdi mdi-gauge"></i>
              <span class="hide-menu">Denuncias
              </span>
          </a>
          <ul aria-expanded="false" class="collapse">
              <li><%= link_to "Nuevo_persona", controller: "personas", action: "new" %></li>
              <li><%= link_to "denuncia_busca", controller: "denuncia", action: "new" %></li>

          </ul>
      </li>
      <!--fin de denuncias-->

  </ul>
</nav>
<!--fin de cargos-->