<div class="row">
  <div class="col-lg-12">
    <div class="card card-outline-info">

      <div class="card-block">
        <%= form_with(model: persona, local: true) do |form| %>
          <% if persona.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(persona.errors.count, "error") %> prohibited this persona from being saved:</h2>

              <ul>
                <% persona.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="form-body">

            <!--Primera fila-->
            <div class="row p-t-25">

              <!--primera columna-->
              <div class="col-md-3">
                <div class="form-group">
                  <label class="control-label">
                  <h3 class="text-orange">Carnet Identidad</h3></label>
                  <%= form.text_field :ci, id: :persona_ci, class: 'form-control', required: 'required' %>
                </div>
              </div>
              <!--fin de primera columna -->

              <!--segunda columna-->
              <div class="col-md-3">
                <div class="form-group">
                  <label class="control-label"><h3 class="text-orange">Ru/Item</h3></label>
                  <%= form.text_field :item, id: :persona_item,  class: 'form-control', required: 'required' %>

                </div>
              </div>
              <!--fin de segunda columna-->

              <!--tercera columna-->
               <div class="col-md-3">
              <div class="form-group">
                <label class="control-label"><h3 class="text-orange">Tipo Persona</h3></label>
                <%= select_tag "persona[tipo]",                 options_for_select([['Docente'], ['Estudiante'], ['Otro']]), {:class => 'form-control', required: 'required', :prompt => "Seleccione tipo", required: 'required'} %>

                </div>
              </div>
            
            <!--fin tercera columna-->
              </div>
            <!--fin de primera fila-->

            <!-- segunda fila-->
            <div class="row p-t-25">

            <!--primera columna-->
              <div class="col-md-3">
                <div class="form-group">
                  <label class="control-label">
                    <h3 class="text-orange">Nombre</h3></label>
                  <%= form.text_field :nombre, id: :persona_nombre, class: 'form-control', required: 'required' %>

                </div>
              </div>
              <!--fin de primera columna-->

              <!--segunda columna-->
              <div class="col-md-3">
                <div class="form-group">
                  <label class="control-label">
                  <h3 class="text-orange">Ap_Paterno</h3></label>
                  <%= form.text_field :ap_paterno, id: :persona_ap_paterno, class: 'form-control', required: 'required' %>

                </div>
              </div>

              <!--fin de segunda columna-->

              <!--tercera columna-->
              <div class="col-md-3">
                <div class="form-group">
                  <label class="control-label">
                    <h3 class="text">Ap_Materno</h3></label>
                  <%= form.text_field :ap_materno, id: :persona_ap_materno, class: 'form-control', required: 'required' %>

                </div>
              </div>
               <!--fin de tercera columna-->
             </div>
             <!--fin de segunda fila-->

             <!--tercera fila-->
             <div class="row p-t-25">

              <!--primera columna-->

               <div class="col-md-3">
                <div class="form-group">
                  <label class="control-label">
                  <h3 class="text">Facultad</h3></label>
                  <%= form.text_field :facultad, id: :persona_facultad,  class: 'form-control', required: 'required' %>
                </div>
              </div>
                  <!--fin primera columna-->

                  <!--segunda columna-->
              <div class="col-md-3">
                <div class="form-group">
                  <label class="control-label">
                    <h3 class="text">Carrera</h3></label>
                  <%= form.text_field :carrera, id: :persona_carrera, class: 'form-control', required: 'required' %>

                </div>
              </div>
              <!--fin de segunda columna-->

              <!--tercera columna-->
              
              <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">
                  <h3 class="text-orange">Categoria</h3></label>
                <%= select_tag "persona[categoria]", options_for_select([['Titular_A'], ['Titular_B'], ['Titular_C'], ['Titular_E'], ['Otro']]), {:class => 'form-control', required: 'required', :prompt => "Seleccione categoria", required: 'required'} %>

                </div>
              </div>       
              <!--fin tercera columna-->
            </div>
            <!--fin de tercera fila-->

            <!--cuarta fila-->
            <div class="row p-t-25">

            <!--primera columna-->
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">
                <h3 class="text-orange">Direccion</h3></label>
                <%= form.text_field :direccion, id: :persona_direccion, class: 'form-control', required: 'required' %>
              </div>
            </div>
            <!--fin primera columna-->

            <!--segunda columna-->
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">
                <h3 class="text-orange">Telefono</h3></label>
                <%= form.text_field :telefono, id: :persona_telefono, class: 'form-control', required: 'required' %> 
               </div>
            </div>
            <!-- fin segunda columna -->

            <!-- tercera columna -->
          
            <!-- fin tercera columna -->

          </div>
          <!-- fin cuarta fila -->

          <!-- quinta fila -->
          <div class="row p-t-25">

            <!--primera columna-->
            <div class="col-md-3">
              <div class="form-group">
               <div id="fallo_persona"></div> 
                <label class="control-label">
                <h3 class="text-orange">Fallo</h3></label>
                <%= select_tag "persona[fallo]",options_for_select([['Si'],['No']]),
                {
                  :class => 'form-control',
                   required:'required',
                 }
                 %>
              </div>
            </div>
            <!--fin primera columna-->

            <!--segunda columna-->
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">
                  <h3>Observacion</h3></label>
                <%= form.text_field :observacion, id: :persona_observacion, class: 'form-control', required: 'required' %>
              </div>
            </div>
            <!-- fin segunda columna -->

         <!--tercera columna>
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">
                <h3 class="text-orange">Fecha</h3></label>
                <%= date_field_tag('fecha_emi_certf', nil,class: 'form-control') %>
              </div>
            </div>
            fin tercera columna -->
        
        </div>      
          <!-- fin quinta fila -->
    </div>
  </div>
 </div>
</div>
 <!--/spam-->
          </div>
        </div>

          <div class="form-actions">
            <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Save</button>
            <button type="button" class="btn btn-inverse">Cancel</button>
          </div>
          <% end %>
          </div>
  </div>
 </div>
</div>
      





