<table class="table table-striped">
	<thead>
		<tr>
			<td>ID</td>
			<td>CI</td>
			<td>NOMBRE</td>
			<td>CARRERA</td>
			<td>FALLO</td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		<% @datos_personas.each do |ep| %>
		<tr id="<%= ep.id %>" class="table">
			<td><%= ep.id %></td>
			<td><%= ep.ci %></td>
			<td><%= ep.ap_paterno %> <%= ep.ap_materno %> <%= ep.nombre %></td>
			<td><%= ep.carrera %></td>
			<td><%= ep.fallo %></td>
			<td>
				<button  
				type='button'
				id='bt_sel' 
				class='btn btn-success'
				>
				<i class='mdi mdi-check'></i></button>
			</td>			
		</tr>
		<% end %>
	</tbody>
</table>

<script>
	//function selecciona_persona(id_persona){
		//alert("entro "+id_persona);
		//$("#emi_persona").html(" ");

	//}
</script>

<script type="text/javascript">

	$("tr.table").click(function() {

		$("#emi_persona").html(" ");
		
		var tableData = $(this).children("td").map(function() {
			return $(this).text();
		}).get();

		// var btn = "<button type='button' id='bt_sel' class='btn btn-success'>				<i class='mdi mdi-check'></i></button>";

		var id = $.trim(tableData[0]);
		var ci = $.trim(tableData[1]);
		var nombre = $.trim(tableData[2]);
		var carrera = $.trim(tableData[3]);
		var fallo = $.trim(tableData[4]);

		$("#carga_nombre").html('<input type="hidden" name="persona[id]" value="'+id+'">');
		$("#carga_nombre").append('<h3><b>CI: </b> '+ci+' <br /><b>NOMBRE: </b>'+nombre+'<br /><b>CARRERA: </b>'+carrera+'<br /><b>FALLO: </b>'+fallo+'</h3>');

		// console.log(tableData);

		// alert("Your data is: " + $.trim(tableData[0]) + " , " + $.trim(tableData[1]) + " , " + $.trim(tableData[2]));
	});

	// function carga_datos(id_persona){
	// 	var nombre = $("#per_nom").val();
	// 	var facultad = $("#per_fac").val();
	// 	$("#carga_nombre").html('<b>'+nombre+facultad+'</b>');
	// 	// alert(nombre);
	// }
</script>
