<style type="text/css">
blockquote {
  padding: 3px 10px;
  border: Black 5px solid;
  border-radius: 20px;
}
</style>

<style>

@media print {
    /*@page {
        size: letter landscape
    }
*/
    .left-sidebar{
      display: none;
    }

    .topbar{
      display: none;
    }

}

</style>

<div class="form body">
<div class="row">
  <div class="col-md-24">
    <div class="card card-outline-info">
      <div class="card-block">
        <%= form_tag("/persona/guarda_emisiongrupal", method: "POST") do %>
        <div class="form-body">

          <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
              <h3 class="text-themecolor m-b-0 m-t-0">NUEVA EMISION GRUPAL</h3>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">
                  <h3>Fecha</h3></label>
                  <%= date_field_tag("persona[fecha_emi_certf]", nil,class: 'form-control') %>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label class="control-label"><h3>No. Reg.</h3></label>
                  <%= text_field :persona, :no_reg, class:'form-control' %>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label class="control-label">
                    <h3>No. Correlat.</h3></label>
                    <%= text_field :persona, :correlt_certf, class:'form-control' %>
                </div>
              </div>

          </div>

         <!-- busca ultima impresion su id -->
         <div class="row">
           <div class="col-md-6">
             <% if @consulta_impresion %>
             <%= @consulta_impresion.id  %>
             <input type="hidden" id="cod_impre" name="id_imp" value='<%= @consulta_impresion.id  %>'>
             <% else %>
             <input type="hidden" id="cod_impre" name="id_imp" value='1'>
             <% end %>
             <div class='row'>
               <table id="users-datatable" class="display nowrap table table-hover table-striped table-bordered dataTable" data-source="<%= emision_grupal_path(format: :json) %>">
                 <thead>
                   <tr>
                     <th>ID</th>
                     <th>CI</th>
                     <th>Nombre</th>
                     <th></th>
                   </tr>
                 </thead>
                 <tbody>
                 </tbody>
               </table>
             </div>
           </div>

           <div class="col-md-6">
             <h3>Seleccionados para el certificado</h3>
             <div id="los_seleccionados">
             </div>
           </div>
         </div>
        <!-- fin de la busqueda impresion-id -->

        <h1>&nbsp;</h1>
        <div class="row">
          <div class="col-md-6">
            <button type="submit" class="btn btn-block btn-success">
              <i class="fa fa-check"></i> GENERAR CERTIFICADO
            </button>
          </div>
        </div>

        </div>
      </div>
    </div>
  </div>

 <!--/span-->
  <% end %>

<% # end %>
<script>
$(document).ready(function() {
  $('#users-datatable').dataTable({
    "processing": true,
    "serverSide": true,
    "ajax": $('#users-datatable').data('source'),
    "pagingType": "full_numbers",
    "columns": [
      {"data": "id"},
      {"data": "ci"},
      {"data": "nombre"},
      {"data": "acciones"}
    ],
    "oLanguage": {
      "sUrl": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
    }
    // pagingType is optional, if you want full pagination controls.
    // Check dataTables documentation to learn more about
    // available options.
  });
});
</script>

<script>
  $("#persona_ci").keyup(function () {
    var campo_texto = $("#persona_ci").val();
    var cantidad_letras = campo_texto.length;
    // console.log('var: '+campo_texto);
    if(cantidad_letras > 3){
      Rails.ajax({
        type: 'GET',
        url: '/persona/bg_ci_ajax/'+campo_texto,
        data: {"dato_crt": campo_texto},
        success: function(data, textStatus, jqXHR){
          $("#emi_persona").load('/persona/bg_ci_ajax/'+campo_texto);
        }
      });
    }
  });
</script>


<script>
  function guarda_persona_js(id_persona){

      // js_ul_imp++;
      // capturamos el dato del campo de texto
      var cod_impresion = $('#cod_impre').val();
      console.log("cod_impresion "+cod_impresion);
      //console.log('var: '+campo_texto);
      console.log('variable es '+id_persona);

      $.ajax({
        type: 'GET',
        url: '/persona/guarda_grupal/'+id_persona+'/'+cod_impresion,
        data: {"dato_crt": cod_impresion},
        success: function(data, textStatus, jqXHR){
          // alert('entro');
          $("#los_seleccionados").load('/persona/muestra_grupal/'+cod_impresion);
        }
      });


    }
</script>
<script>
$('#example23').DataTable({
        dom: 'Bfrtip',
        buttons: ['print']
</script>

<script>
$('#btn_eliminar').click(function());
  {eliminar_persona_js=$('#eliminar_persona_js').val();
  alert"fue eliminado de la lista"
}
</script>
