<style type="text/css">
blockquote {
  padding: 3px 10px;
  border: Black 5px solid;
  border-radius: 20px;
}
</style>

<style>

@media print {
    /*@page {
        size: letter landscape
    }
*/
    .left-sidebar{
      display: none;
    }

    .topbar{
      display: none;
    }

}

</style>

<div class="form body">
<div class="row">
  <div class="col-md-12">
    <div class="card card-outline-info">
      <div class="card-block">
        <%= form_tag("/persona/guarda_emision", method: "POST") do %>
        <div class="form-body">

          <!--Primera fila-->
          <div class="row">

            <!--primera columna-->
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">
                  <h3>Buscar CI:</h3>
                </label>
                  <%= text_field(:persona, :ci, class: 'form-control') %>
              </div>
            </div>
            <!--fin primera columna-->
            
            <!--segunda columna-->
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">
                  <h3>Fecha</h3>
                </label>
                <%= date_field_tag("persona[fecha_emi_certf]", nil, class: 'form-control', :required => true) %>
              </div>
            </div>
          <!-- fin segunda columna -->  

            <!-- 1ra columna -->
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">
                  <h3>No. Reg.</h3></label>
                  <%= text_field :persona, :no_reg, class: 'form-control', :required => true %>
              </div>
            </div> 
            <!--fin 1ra columna-->

            <!-- 2da columna -->
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">
                  <h3>No. Correlativo</h3></label>
                  <%= text_field :persona, :correlt_certf, class: 'form-control', :required => true %>
              </div>
            </div>
          <!--fin 2da columna-->
          </div>   
          <div id="emi_persona"> </div> 
          <!-- fin 2da fila -->
          <h3>Seleccionado para el certificado</h3>
          <div id="carga_nombre"> </div>

          <h1>&nbsp;</h1>
          <div class="row">
            <div class="col-md-12">
              <button type="submit" class="btn btn-block btn-success">
                <i class="fa fa-check"></i> GENERAR CERTIFICADO
              </button>
            </div>
          </div>
  
        <% end %>
      </div>
    </div>
  </div>
</div>

<% # end %>
<script>
  $("#persona_ci").keyup(function () {
    var campo_texto = $("#persona_ci").val();
    var cantidad_letras = campo_texto.length;
    // console.log('var: '+campo_texto);
    if(cantidad_letras > 3){        
      $.ajax({
        type: 'GET',
        url: '/persona/bu_ci_ajax/'+campo_texto,
        data: {"dato_crt": campo_texto},
        success: function(data, textStatus, jqXHR){
          $("#emi_persona").load('/persona/bu_ci_ajax/'+campo_texto);
        }
      });
    }
  });
</script>