<div class="row">
  <div class="col-lg-25">
    <div class="card card-outline-info">
      <div class="card-block">
        <%= form_tag("/guarda", method: "POST") do %>
        <div class="form-body">

          <!--Primera fila-->
          <div class="row p-t-25">

            <!--primera columna-->
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">
                  <h3 class="text-orange">Carnet Identidad</h3></label>
                <%= text_field_tag('CI') 
                %>
                <div id="des_personas"></div>
              </div>
            </div>
            <!--fin primera columna-->
            
            <!--segunda columna-->
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label"><h3 class="text-orange">Ru / Item</h3></label>
                <%= text_field_tag('nombre', class: 'form-control')
                %>
              </div>
            </div>
            <!-- fin segunda columna -->

            <!-- tercera columna -->
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label"><h3 class="text-orange">Tipo Persona</h3></label>
                <%= select_tag "emisioncertf[tipo_pe_persona]", 
                    options_for_select([['Docente'], ['Estudiante']]), 
                    {
                      :class => 'form-control', 
                      required: 'required',
                    } 
                %>
              </div>
            </div>
            <!-- fin tercera columna -->
          </div>
          <!--fin Primera fila-->

            <!-- segunda fila -->
          <div class="row p-t-25">

            <!--primera columna-->
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">
                  <h3 class="text-orange">Nombre</h3></label>
                <%= text_field_tag('nombre', class: 'form-control') %>
              </div>
            </div>
            <!--fin primera columna-->

            <!--segunda columna-->
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">
                  <h3 class="text-orange">Ap_Paterno</h3></label>
                <%= text_field_tag('ap_paterno', class: 'form-control') %>
              </div>
            </div>
            <!--fin segunda columna-->

            <!--tercera columna-->
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">
                  <h3 class="text-orange">Ap_materno</h3></label>
                <%= text_field_tag('ap_materno', class: 'form-control') %>
              </div>
            </div>
            <!--fin tercera columna-->
          </div>
          <!--fin segunda fila-->

                
          <!-- tercera fila -->
          <div class="row p-t-25">

            <!--primera columna-->
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">
                <h3 class="text-orange">Facultad</h3></label>
                <%= text_field_tag('nombre', class: 'form-control')
                 %>
              </div>
            </div>
            <!--fin primera columna-->

            <!--segunda columna-->
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">
                <h3 class="text-orange">Carrera</h3></label>
                <%= text_field_tag('nombre', class: 'form-control') 
                %>
              </div>
            </div>
            <!-- fin segunda columna -->

            <!-- tercera columna -->
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">
                <h3 class="text-orange">Categoria</h3></label>
                <%= text_field_tag('Categoria', class: 'form-control')
                 %>
              </div>
            </div>
            <!-- fin tercera columna -->

          </div>
          <!-- fin tercera fila -->
<!-- cuarta fila -->
          <div class="row p-t-25">

            <!--primera columna-->
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">
                <h3 class="text-orange">Direccion</h3></label>
                <%= text_field_tag('nombre', class: 'form-control')
                 %>
              </div>
            </div>
            <!--fin primera columna-->
                 
                 
            <!--segunda columna-->
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">
                <h3 class="text-orange">Telefono</h3></label>
                <%= text_field_tag('nombre', class: 'form-control') 
                %>
              </div>
            </div>
            <!-- fin segunda columna -->

            <!-- tercera columna -->
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">
                <h3 class="text-orange">Correo</h3></label>
                <%= text_field_tag('nombre', class: 'form-control')
                  %>
              </div>
            </div>
            <!-- fin tercera columna -->

          </div>
          <!-- fin cuarta fila -->

          <!-- quinta fila -->
          <div class="row p-t-25">

            <!--primera columna-->
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">
                <h3 class="text-orange">Fallo</h3></label>
                <%= text_field_tag('nombre', class: 'form-control') 
                %>
              </div>
            </div>
            <!--fin primera columna-->

            <!--segunda columna-->
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">
                  <h3 class="text-orange">Observaciones</h3></label>
                <%= text_field_tag('nombre', class: 'form-control') 
                %>
              </div>
            </div>
            <!-- fin segunda columna -->

         
         <!--tercera columna-->
          <div class="row p-t-25">

            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">
                <h3 class="text-orange">Fecha</h3></label>
                <%= text_field_tag('nombre', class: 'form-control')
                 %>
              </div>
            </div>
            <!-- fin tercera columna -->
          </div>
          <!-- fin quinta fila -->

        </div>      
      </div>
    </div>
  </div>  
</div>

  <div class="actions">
  </div>
<% end %>
<script>
  $("#personas_ci").keyup(function () {
    var campo_texto = $("#personas_ci").val();
    var cantidad_letras = campo_texto.length;
    console.log('var: '+campo_texto);
    if(cantidad_letras > 3){        
      Rails.ajax({
        type: 'GET',
        url: '/emisioncertf/busca_ci_ajax/'+campo_texto,
        data: {"dato_crt": campo_texto},
        success: function(data, textStatus, jqXHR){
          $("#emisioncertf_personas").load('/emisioncertf/busca_ci_ajax/'+campo_texto);
          console.log('retorno '+ data);
        }
      });
    }
  });
</script>