<style type="text/css">
blockquote {
  padding: 3px 10px;
  border: Black 5px solid;
  border-radius: 20px;
}
</style>

<style>

@media print {
    /*@page {
        size: letter landscape
    }
*/
    .left-sidebar{
      display: none;
    }

    .topbar{
      display: none;
    }

}

</style>

<div class="form body">
<div class="row">
  <div class="col-md-12">
    <div class="card card-outline-info">
      <div class="card-block">
        <%= form_tag("/persona/guarda_emision", method: "POST") do %>
        <div class="form-body">

          <!--Primera fila-->
          <div class="row ">

            <!--primera columna-->
            <div class="col-lg-4">
              <div class="form-group">
                <div style="text-align: ">
                <label class="control-label">
                  <h3><b>Buscar CI:</b></h3></label>
                  <h3><b><%= text_field(:persona, :ci) %></b></h3>
                </div>
            </div>
          </div>
            <!--fin primera columna-->
            
            <!--segunda columna-->
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">
                  <h3><b>Fecha</h3></b>
                </label>
                <%= date_field_tag("persona[fecha_emi_certf]", nil,class: 'form-control') %>
              </div>
            </div>
          <!-- fin segunda columna -->
            </div>
          <!--fin Primera fila-->

          <!--2da fila-->
          <div class="row p-t-25">

            <!-- 1ra columna -->
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">
                  <h3><b>No. Reg.</b></h3></label>
                <%= text_field :persona, :no_reg, class: 'form-control'%>
              </div>
            </div> 
            <!--fin 1ra columna-->

            <!-- 2da columna -->
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">
                  <h3><b>No. Correlativo</b></h3></label>
                  <%= text_field :persona, :correlt_certf, class: 'form-control'%>
              </div>
            </div>
          <!--fin 2da columna-->
          </div>    
          <!-- fin 2da fila -->

          <div id="carga_nombre">Aqui </div>

            
          <!-- fin 2da fila -->
        <!-- 3ra fila -->
          <div class="row p-t-25">

            <!--primera columna-->
            <div class="col-md-4">
              <div class="form-group">
                <div id= "emi_persona"></div>
                <label class="control-label">
                  <h3 No_Reg.></h3></label>
                  
                <!--%= debug @datos_personas%-->
               
              </div>
            </div>
            <!--fin primera columna-->
           </div>
          <!--fin segunda fila-->
 <!--/span-->
          <div class="form-actions">
            <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Save</button>
            <button type="button" class="btn btn-inverse">Cancel</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% # end %>
<script>
  $("#persona_ci").keyup(function () {
    var campo_texto = $("#persona_ci").val();
    var cantidad_letras = campo_texto.length;
    // console.log('var: '+campo_texto);
    if(cantidad_letras > 4){        
      $.ajax({
        type: 'GET',
        url: '/persona/bu_ci_ajax/'+campo_texto,
        data: {"dato_crt": campo_texto},
        success: function(data, textStatus, jqXHR){
          $("#emi_persona").load('/persona/bu_ci_ajax/'+campo_texto);
        }
      });
    }
  });
</script>