<style type="text/css">
blockquote {
  padding: 3px 10px;
  border: Black 5px solid;
  border-radius: 20px;
}
</style>

<style>

@media print {
    /*@page {
        size: letter landscape
    }
*/
    .left-sidebar{
      display: none;
    }

    .topbar{
      display: none;
    }

}

</style>

<div class="form body">
<div class="row">
  <div class="col-md-12">
    <div class="card card-outline-info">
      <div class="card-block">
        <%= form_tag("/persona/guarda_emisiongrupal", method: "POST") do %>
        <div class="form-body">

          <div class="row">
            <div class="col-md-6">

              <table id="users-datatable" class="table table-bordered" data-source="<%= emision_grupal_path(format: :json) %>">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>CI</th>
                    <th>Nombre</th>
                    <th>Accion</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>

          <!--Primera fila-->
          <div class="row ">

            <!--primera columna-->
            <div class="col-lg-4">
              <div class="form-group">
                <div style="text-align: ">
                <label class="control-label">
                  <h3><b>Buscar CI:</b></h3></label>
                  <h3><b><%= text_field(:persona, :ci) %></b></h3>
                <div id="carga_nombre"> </div>
                </div>
            </div>
          </div>
            <!--fin primera columna-->

            <!--segunda columna-->
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">
                <h3 class="text-orange"><b>Fecha</h3></b></label>
                <%= date_field_tag("persona[fecha_emi_certf]", nil,class: 'form-control')


                 %>
              </div>
            </div>
          <!-- fin segunda columna -->
            </div>
          <!--fin Primera fila-->

          <!--2da fila-->
          <div class="row p-t-25">

            <!-- 1ra columna -->
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label"><h3 class="text-orange">No. Reg.</h3></label>
                <%= select_tag "persona[no_reg]",options_for_select([['001'], ['002'], ['003'], ['004'], ['005'], ['006'], ['007'], ['008']]),
                    {
                      :class => 'form-control',
                      required: 'required',
                    }
                %>
              </div>
            </div>
            <!--fin 1ra columna-->

            <!-- 2da columna -->
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label"><h3 class="text-orange">No. Correlativo</h3></label><%= select_tag "persona[correlt_certf]",
                    options_for_select([['018/2018'], ['019/2018'], ['020/2018'], ['021/2018'], ['022/2018'], ['023/2018'], ['024/2018'], ['025/2018']]),
                    {
                      :class => 'form-control',
                      required: 'required',
                    }
                %>
              </div>
            </div>
          <!--fin 2da columna-->
          </div>
          <!-- fin 2da fila -->


        <!-- 3ra fila -->
          <div class="row p-t-25">

            <!--primera columna-->
            <div class="col-md-4">
              <div class="form-group">
                <div id= "emi_persona"></div>
                <label class="control-label">
                  <h3 class="text-orange"No_Reg.></h3></label>

                <!--%= debug @datos_personas%-->

              </div>
            </div>
            <!--fin primera columna-->
           </div>
          <!--fin segunda fila-->


 <!--/span-->



          <div class="form-actions">
            <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Save</button>
            <button type="button" class="btn btn-inverse">Cancel</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% # end %>
<script>
$(document).ready(function() {
  $('#users-datatable').dataTable({
    "processing": true,
    "serverSide": true,
    "ajax": $('#users-datatable').data('source'),
    "pagingType": "full_numbers",
    "columns": [
      {"data": "id"},
      {"data": "ci"},
      {"data": "nombre"},
      {"data": "acciones"}
    ]
    // pagingType is optional, if you want full pagination controls.
    // Check dataTables documentation to learn more about
    // available options.
  });
});
</script>

<script>
  $("#persona_ci").keyup(function () {
    var campo_texto = $("#persona_ci").val();
    var cantidad_letras = campo_texto.length;
    // console.log('var: '+campo_texto);
    if(cantidad_letras > 3){
      Rails.ajax({
        type: 'GET',
        url: '/persona/bg_ci_ajax/'+campo_texto,
        data: {"dato_crt": campo_texto},
        success: function(data, textStatus, jqXHR){
          $("#emi_persona").load('/persona/bg_ci_ajax/'+campo_texto);
        }
      });
    }
  });
</script>

<script>
  $("#persona_id").click(function) () {
    var campo_texto = $("#persona_id").val();
        Rails.ajax({
        type: 'GET',
        url: '/persona/selec_id_ajax/'+campo_texto,
        data: {"dato_crt": campo_texto},
        success: function(data, textStatus, jqXHR){
           }
      });
    }
  </script>
