<h3>
    <b>Abogado/Fallo</b>
</h3>
<style type="text/css">
    blockquote {
        padding: 15px 30px;
        border: Black 5px solid;
        border-radius: 80px;
    }
</style>

<style>

    @media print {
        /*@page {
        size: letter landscape
    }
*/
        .left-sidebar {
            display: none;
        }

        .topbar {
            display: none;
        }

    }
</style>
<div class="form-body">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-outline-info">
                <div class="card-block">
                    <%= form_tag('/persona/guarda_fallo', method: "POST") do %>

                        <!--1ra fila-->
                        <div class="row">
                            <!-- 1ra columna-->
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">
                                        <h3>Buscar CI:
                                        </h3>
                                    </label>
                                    <%= text_field(:persona, :ci, class: 'form-control')%>
                                </div>
                            </div>
                            <!-- fin 1ra columna -->

                            <!-- 2da columna -->
                            <div class="col-md-2">
                                <label class="control-label">
                                    <h3>Fallo/Sancion</h3>
                                </label>
                                <%= select_tag "persona[fallo]", options_for_select([['SI'], ['NO']]), { class:
                                'form-control', required: 'required', } %>
                            </div>
                            <!-- fin 2da columna -->

                            <!-- fin 3ra columna -->
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label">
                                        <h3>
                                            &nbsp;&nbsp;Observacion</h3>
                                    </label>
                                    <%= text_field(:persona, :observaciones, class: 'form-control', required:
                                    'required') %>
                                </div>
                            </div>
                            <!-- fin 3ra columna -->

                            <!--2da fila-->
                            <div class="row">
                                <!--1ra columna-->
                                <div class="col-md-2">

                                    <label class="control-label">
                                        <h3>
                                            &nbsp;&nbsp;Revisado:</h3>
                                    </label>
                                    <%= text_field(:persona, :rev_inic, class: 'form-control', required: 'required')
                                    %>
                                </div>

                                <div class="col-md-6">

                                    <label class="control-label">
                                        <h3>
                                            &nbsp;&nbsp;COM.UNIV.PROC.INF.No.</h3>
                                    </label>
                                    <%= text_field(:persona, :no_inf, class: 'form-control', required: 'required')
                                    %>
                                </div>

                                <div class="col-md-4">

                                    <label class="control-label">
                                        <h3>
                                            &nbsp;&nbsp;fecha_Informe:</h3>
                                    </label>
                                    <%= date_field_tag("persona[fecha]", nil, class: 'form-control', :required =>
                                    true) %>
                                </div>

                            </div>

                            <div class="row">
                                <!--1ra columna-->
                                <div class="col-md-4">

                                    <label class="control-label">
                                        <h3>
                                            &nbsp;&nbsp;Caso.CUP.</h3>
                                    </label>
                                    <%= text_field(:persona, :codigo_caso, class: 'form-control', required:
                                    'required') %>
                                </div>

                                <!--2da columna-->
                                <div class="col-md-4">

                                    <label class="control-label">
                                        <h3>
                                            &nbsp;&nbsp;Tipo de Resolucion:</h3>
                                    </label>
                                    <%= text_field(:persona, :tipo_resol, class: 'form-control', required:
                                    'required') %>
                                </div>

                                <!--3ra columna-->
                                <div class="col-md-4">

                                    <label class="control-label">
                                        <h3>
                                            &nbsp;&nbsp;Hoja/Ruta</h3>
                                    </label>
                                    <%= text_field(:persona, :h_ruta, class: 'form-control', required: 'required')
                                    %>
                                </div>
                            </div>

                                            <!--3ra fila-->
                                            
                                            <!--fin 2da columna-->
                                            <!--2da fila y 1ra columna-->
                                            <div class="row">
                                                <!--fin de 1ra columna> -->

                                                <!-- 2da columna-->
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="card card-outline-info">
                                                            <div class="card-block">
                                                                <label class="control-label">
                                                                    <h3>
                                                                        <b>
                                                                            <p>
                                                                                ID PERSONA:
                                                                            </p>
                                                                        </b>
                                                                    </h3>
                                                                </label>
                                                                <label class="control-label">
                                                                    <p>
                                                                        <b>
                                                                            <h3>ELEGIR/ACTUALIZAR-FALLO</h3>
                                                                        </b>
                                                                    </p>
                                                                </label>
                                                                <div id="carga_nombre"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- fin 2da columna -->

                                            <!-- 3ra fila -->
                                            <div class="row">

                                                <!--primera columna-->
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div id="fallo_persona"></div>
                                                        <label class="control-label">
                                                            <h3 fallo="fallo"></h3>
                                                        </label>
                                                    </div>
                                                </div>
                                                <!--fin primera columna-->
                                            </div>


                                            <div class="row">
                                              <div class="col-md-12">
                                                <div class="form-actions">
                                                  <button type="submit" class="btn btn-success">
                                                    <i class="fa fa-check"></i>
                                                  Guardar</button>
                                                  <button type="button" class="btn btn-inverse">Cancelar</button>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                    </div>
                                </div>
                            </div>

                            

                        </div>
                </div>

               
<% end %>

<script>
$("#persona_ci").keyup(function () {
var campo_texto = $("#persona_ci").val();
var cantidad_letras = campo_texto.length;
// console.log('var: '+campo_texto);
if (cantidad_letras > 3) {
//alert('entro');
$.ajax({
    type: 'GET',
    url: '/persona/bs_ci_ajax/' + campo_texto,
    data: {
        "dato_crt": campo_texto
    },
    success: function (data, textStatus, jqXHR) {
        $("#fallo_persona").load('/persona/bs_ci_ajax/' + campo_texto);
    }
});
}
});
</script>