<style>

  blockquote {
    padding: 8px;
    border: Black 5px solid;
    border-radius: 15px;
    font-weight: bold;
    font-size: 14pt;
  }

  .impresion {
    width: 1000px;
    color: #000000;
  }

  .cabecera {
    width: 100%;
  }

  .contenido {
    text-align: justify;
    font-size: 16pt;
  }

  .tabla-datos {
    margin: auto;
    border: 1px solid #000000;
    width: 80%;
  }

  .tabla-datos tr td{
    border: 1px solid #000000;
    padding-left: 8px;
  }

  .tabla-datos tr th{
    border: 1px solid #000000;
    font-weight: 700;
    text-align: center;
  }

  @media print {

    .left-sidebar {
      display: none;
    }

    .topbar {
      display: none;
    }

    blockquote {
      padding: 15px;
      border: Black 5px solid;
      border-radius: 15px;
    }

    .impresion {
      width: 1000px;
    }

    .cabecera {
      width: 100%;
    }

    .contenido {
      text-align: justify;
      font-size: 14pt;
    }

  }
</style>

<!--1ra fila tabla para poner fecha del certificado-->
<div class="row">
  <div class="col-md-12">
    <div class="impresion">
      <table class="cabecera">
        <tr>
          <td style="width: 60%">
            <blockquote>
              <p>La Paz, <%= @datos_impreso.fecha_emi_certf %></p>
              <p><b>COM.UNIV.PROC.CERTF: <%= @datos_impreso.correlt_certf %></b></p>
            </blockquote>
          </td>
          <td style="text-align: right;">
            <%= image_tag("logo-qr.jpg", class: "dark-logo", alt: "inicio") %>
          </td>
        </tr>
      </table>
      <p class="contenido">
        LA COMISION UNIVERSITARIA DE PROCESOS DEL HOROABLE CONSEJO UNIVERSITARIO DE LA UNIVERSIDAD MAYOR DE SAN ANDRES, A SOLICITUD ESCRITA DEL INTERESADO.
      </p>
      <p class="contenido" style="font-size: 35pt; font-weight: bolder;">CERTIFICA: </p>
      <p class="contenido">Que, revisada la documentación en la Comisión Universitaria de Procesos, se evidencia que:</p>

      <h5>&nbsp;</h5>

      <% if @personas_escogidas.length < 10 %>

        <table class="tabla-datos">
          <tr>
            <th>No.</th>
            <th>NOMBRES Y APELLIDOS</th>
            <th>C.I.</th>
          </tr>
          <% @personas_escogidas.each_with_index do |p, index| %>
              <tr>
                <td style="text-align: center;"><%= index+1 %></td>
                <td>
                  <%= p.persona.nombre %>
                  <%= p.persona.ap_paterno %>
                  <%= p.persona.ap_materno %>
                </td>
                <td><%= p.persona.ci %></td>
              </tr>
          <% end %>
        </table>

      <% else %>

        <table class="tabla-datos">
          <tr>
            <th>No.</th>
            <th>NOMBRES Y APELLIDOS</th>
            <th>C.I.</th>
          </tr>
          <% @personas_escogidas.each_with_index do |p, index| %>
          <% c = index %>
            <% if index < 10 %>
              <tr>
                <td style="text-align: center;"><%= c+1 %></td>
                <td>
                  <%= p.persona.nombre %>
                  <%= p.persona.ap_paterno %>
                  <%= p.persona.ap_materno %>
                </td>
                <td><%= p.persona.ci %></td>
              </tr>
            <% end %>
          <% end %>
        </table>

        <h1>&nbsp;</h1>
        <h1>&nbsp;</h1>
        <h1>&nbsp;</h1>
        <h1>&nbsp;</h1>
        <h1>&nbsp;</h1>
        <h1>&nbsp;</h1>
        <h1>&nbsp;</h1>
        <h1>&nbsp;</h1>
        <h1>&nbsp;</h1>
         <h1>&nbsp;</h1>
        <h1>&nbsp;</h1>
        <h1>&nbsp;</h1>
        <!-- cabecera -->
        <table class="cabecera">
          <tr>
            <td style="width: 60%">
              <blockquote>
                <p>La Paz, <%= @datos_impreso.fecha_emi_certf %></p>
                <p><b>COM.UNIV.PROC.CERTF: <%= @datos_impreso.correlt_certf %></b></p>
              </blockquote>
            </td>
            <td style="text-align: right;">
              <%= image_tag("logo-qr.jpg", class: "dark-logo", alt: "inicio") %>
            </td>
          </tr>
        </table>

        <h1>&nbsp;</h1>

        <table class="tabla-datos">
          <tr>
            <th>No.</th>
            <th>NOMBRES Y APELLIDOS</th>
            <th>C.I.</th>
          </tr>
          <% @personas_escogidas.each_with_index do |p, index| %>
            <% if index > 10 %>
              <tr>
                <td style="text-align: center;"><%= index %></td>
                <td>
                  <%= p.persona.nombre %>
                  <%= p.persona.ap_paterno %>
                  <%= p.persona.ap_materno %>
                </td>
                <td><%= p.persona.ci %></td>
              </tr>
            <% end %>
          <% end %>
        </table>
      <% end %>

      <h1>&nbsp;</h1>
      <p class="contenido">A la fecha <b>NO</b> tiene fallo sancionatorio ejecutoriado en su contra, es cuanto certificamos para los fines consiguientes.
      </p>

      <table class="cabecera">
        <tr>
          <td style="text-align: center;">
            <%= image_tag("logo-firma1.jpg", class: "dark-logo", alt: "inicio") %>
            <p>M.sc.Mauricio E. Farfan Espinoza</p>    
            <p>Responsable a.i.</p>    
            <p>COMISIÓN UNIVERSITARIA DE PROCESOS</p>    
          </td>
          <td style="text-align: center;">
            <%= image_tag("logo-firma.jpg", class: "dark-logo", alt: "inicio") %>
            <p>Ing. Alberto Arce Tejada</p>    
            <p>Secretario General</p>    
            <p>UMSA</p>    
          </td>
        </tr>
      </table>
      
      <p class="contenido">Nota: El certificado tiene vigencia de 30 días calendario</p>
      <p class="contenido"> El presente Certificado para su validez debe llevar el <b>sello de Aprobación de Secretaria General</b> más el registro Qr. y solo es para uso interno de la <b>UMSA</b></p>
      <p>
         Reg.No.<%= @datos_impreso.no_reg %>
        <br/> C.c.Archivo.
        <br/>User/</b>
      </p>
    </div>
  </div>
</div>