<style type="text/css">
blockquote {
  padding: 3px 10px;
  border: Black 5px solid;
  border-radius: 20px;
}
.tabla-impresion{
  border: 1px solid #54667a;
  width: 100%;
}

.tabla-impresion tr td{
  border: 1px solid #54667a;
  padding: 4px;
  font-size: 9pt;
}
.tabla-impresion-cabecera tr td{
  width: 100%;
  padding: 4px;
  font-size: 9pt;
}
.tabla-impresion tr td.montos{
  border: 1px solid #54667a;
  padding: 4px;
  font-size: 9pt;
  text-align: right;
}
.tabla-impresion thead tr th{
  text-align: center;
  border: 1px solid black;
  font-weight: bold;
}
.mmt1{
 margin-top: -1px;
}

@media print{
  .left-sidebar{
    display: none;
  }

  .topbar{
    display: none;
  }

  .tabla-impresion{
    border: 1px solid #54667a;
    width: 100%;
  }

  .tabla-impresion tr td{
    border: 1px solid #54667a;
    padding: 4px;
    font-size: 9pt;
  }
  .tabla-impresion-cabecera tr td{
    width: 100%;
    padding: 4px;
    font-size: 9pt;
  }
  .tabla-impresion tr td.montos{
    border: 1px solid #54667a;
    padding: 4px;
    font-size: 9pt;
    text-align: right;
  }
  .tabla-impresion thead tr th{
    text-align: center;
    border: 1px solid black;
    font-weight: bold;
  }
  .mmt1{
   margin-top: -1px;
  }
 .clase-impresion{
    color: black;
    width: 140px;
    font-size: 12pt;
  }
  .no-imprime{
    display: none;
  }
  .page-wrapper{
    margin-left: 0px;
  }
}
</style>

<!--1ra fila tabla para poner fecha del certificado-->
<div class="form body">
  <div class="row">
    <div class="col-md-12">
      <table border="0">
      <!--1ra columna de la tabla-->
      <tr>
       
        <td width="30%" height="20px">&nbsp;
        <b><blockquote>
        <time datetime= "strftime">
        <h2 class ="font-Arial"><b> 
        La Paz,
        <%= @datos_impreso.fecha_emi_certf %> </b>
        </h2 class="font-Arial"> </time>
        <b>
          
            <% @datos_impreso.inspect %>
          
        <h5 class ="font-Arial"><b>
        COM.UNIV.PROC.CERTF:<%= @datos_impreso.correlt_certf %>
        </h5 class ="font-Arial"></b>
        </blockquote></b>
        </td>
      

        <!--fin de la 1ra columna y borde del texto-->


        <!--2da columna de la tabla-->
        <td width="60%" height="20px">&nbsp;
        </td>
        <!--fin de la 2da columna de la tabla-->

        <!--fin de la 3ra columna de la tabla-->
        <td width="15%" height="30px">&nbsp;
        <%= image_tag("logo-qr.jpg", class: "dark-logo", alt: "inicio") %></td>
        <!--fin de la 3ra columna de la tabla-->

        <!--fin de la 4ta columna de la tabla-->
        <td width="15%" height="30px">&nbsp;
        <%= image_tag("logo-sello.jpg", class: "dark-logo", alt: "inicio") %> </td>
        <!--fin de la 4ta columna de la tabla-->
        
      </tr>
      </table>
    </div>
  </div>
</div>

<!--fin de borde 1ra fila de la tabla-->
<p><div class="Certificados de procesos print"></p></div>
    

<!--2da fila -->
<div class="row">
  <div class="col-md-12">
    <div class="pull-left text-justify">
      <p> <hr> <h3 class="font-Arial">La Comisión Universitaria de Procesos del Honorable Consejo Universitario de la Universidad Mayor de San Andrés, a solicitud escrita del Interesado.</h3> </p> </hr>
      <br> <h1 class="font-bold"> Certifica:</h1> </br>
      <h3 class="font-Arial"> Que, revisada la documentación en la Comisión de Procesos, se evidencia que:</h3>
    </div>
  </div>  
</div>      
<!--fin de 2da fila-->

<!--3ra fila -->
  <div class="row">
    <div class="cold-md-12">
      <div style="text-align:center;">
        <table border="1"style="margin: 0 auto;">
          <!--1ra columna de la tabla-->  
          <tr><center>
            <td width="50%" height="50px">&nbsp;
              <h3 class="font-bold text-center">                                                                         
                NOMBRES Y APELLIDOS</h3></td>
                
                <td width="30%" height="50px">&nbsp;
                <h3 class="font-bold text-center">
                CARNET DE IDENTIDAD</h3></td>

                <td width="20%" height="50px">&nbsp;
                <h3 class="font-bold text-center">
                 FALLO</h3></td>
                </tr>

          <% @personas_escogidas.each do |p| %>
            <tr>
              <td>
              <%= p.persona.nombre %>
              <%= p.persona.ap_paterno %>
              <%= p.persona.ap_materno %>
              </td>
              <td><%= p.persona.ci %></td>
              <td><%= p.persona.fallo %></td>
            </tr>
          <% end %>
      </table>
      </div>
    </div>
  </div>
<!--fin de 3ra fila-->

<!--4ta fila-->
<div class="row">
  <div class="col-md-12">
    <div class="pull-left text-justify">
      <p align="right"> <hr> <h3 class="font-Arial"> 
      A la fecha tiene fallo sancionatorio en su contra, es cuanto certificamos para los fines consiguientes.</h3> </p> </hr>

      <!--1ra columna de la tabla-->
      <table border="0">
      <tr>
      <td width="20%" height="50px">&nbsp;</td>
      </tr>
      </table>
      <!--1ra columna de la tabla-->

      <!--2da columna de la tabla-->
      <table>
      <tr>
      <td><%= image_tag("logo-firma1.jpg", class: "dark-logo", alt: "inicio") %>
      <h4> <b "font-bold"><center> Dr. Mauricio E. Farfan Espinoza<BR /><center>
      Responsable Administrativo
      <br/><center>COMISIÓN UNIVERSITARIA DE PROCESOS </h4> </b> </td>
      <!--fin 2da columna de la tabla-->

      <td width="350px;"></td>

      <!--3ra columna de la tabla-->
      <td><%= image_tag("logo-firma.jpg", class: "dark-logo", alt: "inicio") %>
      <h4><b "font-bold"><center>Ing. Alberto Arce Tejada <br /></center>
      SECRETARIO GENERAL
      <br/><center> UMSA </h4></b></td>
      </tr>
      </table>
      <!--fin 3ra columna de la tabla-->
    </div>
  </div>
</div>  
<!--fin de 4ta fila-->


<!--5ta fila-->                                 
<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <p style="font-size: 8pts;color: black"><p>
        <hr>
        <h5 class="font-arial text-justify">
        <b>Nota:</b> Para su validez el presente Certificado debe llevar el <b>Sello de Aprobación de Secretaria General,</b> mas el registro Qr. el certificado tiene vigencia de 30 días hábiles y solo es para uso interno de la <b>UMSA</b></p></b>
        <p> Reg.No.<%= @datos_impreso.no_reg %> </p>
        <p> User/</p> </h5>
        </hr> 
    </div>
  </div>
</div>                    

<!--fin de 5ta fila-->