<style type="text/css">
blockquote {
  padding: 3px 10px;
  border: Black 5px solid;
  border-radius: 20px;
}
</style>

<style>

@media print {
    /*@page {
        size: letter landscape
    }
*/
    .left-sidebar{
      display: none;
    }

    .topbar{
      display: none;
    }

}

</style>
<!--h2>Emision de Certificados</h2-->
<!--1ra fila tabla para poner fecha del certificado-->
<div class="form body">
  <div class="row">
    <div class="col-md-12">
      <table border="0">
      <!--1ra columna de la tabla-->
      <tr>
        <td width="30%" height="20px">&nbsp;
        <b><blockquote>
        <time datetime= "strftime">
        <h4 class ="font-Arial"><b> 
        La Paz,
        <%= @datos_persona.fecha_emi_certf %> </b>
        </h4 class="font-Arial"> </time>
        <b>
        COM.UNIV.PROC.CERTF:<%= @datos_persona.correlt_certf %></b>
        </blockquote></b>
        </td>
      

        <!--fin de la 1ra columna y borde del texto-->


        <!--2da columna de la tabla-->
        <td width="60%" height="20px">&nbsp;
        </td>
        <!--fin de la 2da columna de la tabla-->

        <!--fin de la 3ra columna de la tabla-->
        <td width="5%" height="20px">&nbsp;
        <%= image_tag("logo-qr.jpg", class: "dark-logo", alt: "inicio") %></td>
        <!--fin de la 3ra columna de la tabla-->

        <!--fin de la 4ta columna de la tabla-->
        <td width="5%" height="20px">&nbsp;
        <%= image_tag("logo-sello.jpg", class: "dark-logo", alt: "inicio") %> </td>
        <!--fin de la 4ta columna de la tabla-->
        
      </tr>
      </table>
    </div>
  </div>
</div>

<!--fin de borde 1ra fila de la tabla-->
<p><div class="Certificados de procesos print"></p></div>
    

<!--2da fila -->
<div class="row">
  <div class="col-md-12">
    <div class="pull-left text-justify">
      <p> <hr> <h4 class="font-Arial">La Comisión Universitaria de Procesos del Honorable Consejo Universitario de la Universidad Mayor de San Andrés, a solicitud escrita del Interesado.</h4> </p> </hr>
      <br> <h1 class="font-bold"> Certifica:</h1> </br>
      <h4 class="font-Arial"> Que, revisada la documentación en la Comisión de Procesos, se evidencia que:</h4>
    </div>
  </div>  
</div>      
<!--fin de 2da fila-->

<!--3ra fila -->
  <div class="row">
    <div class="cold-md-12">
      <div style="text-align:center;">
        <table border="1"style="margin: 0 auto;">
        <!--1ra columna de la tabla-->  
        <tr>
        <td width="60%" height="50px">&nbsp;
        <h3 class="font-bold text-center">
        NOMBRES Y APELLIDOS</h3> </td>
        <!--fin 1ra columna -->

        <!--2da columna de la tabla-->
        <td width="10px;"></td>
        <!--fin 2da columna -->

        <!--3ra columna de la tabla-->
        <td width="40%" height="50px">&nbsp;
        <h3 class="font-bold text-center">
        CARNET DE IDENTIDAD</h3></td>
        </tr>
        <!--fin 3ra columna -->

        <!--2da fila de tabla -->
        <!--1ra columna de la tabla-->
        <tr>
        <td width="60%" height="50px">&nbsp;
        <h4 class="font-bold text-center">
        <% debug @datos_persona %>
        <%= @datos_persona.nombre %> 
        <%= @datos_persona.ap_paterno %> 
        <%= @datos_persona.ap_materno %> 
        </h4></td>
        <!--fin 1ra columna -->

        <!--2da columna de la tabla-->
        <td width="10px;"></td>
        <!--fin 2da columna -->

        <!--3ra columna de la tabla-->
        <td width="40%" height="50px">&nbsp;
        <h4 class="font-bold text-center">
        <%= @datos_persona.ci %></h4></td>
        </tr>
        <!--fin 3ra columna -->
        </table>
      </div>
    </div>
  </div>
<!--fin de 3ra fila-->

<!--4ta fila-->
<div class="row">
  <div class="col-md-12">
    <div class="pull-right text-justify">
      <p> <hr> <h4 class="font-Arial">A la fecha 
      <b><%= @datos_persona.fallo %></b> tiene fallo sancionatorio en su contra, es cuanto certificamos para los fines consiguientes.</h4> </p> </hr>

      <!--1ra columna de la tabla-->
      <table border="0">
      <tr>
      <td width="20%" height="50px">&nbsp;</td>
      </tr>
      </table>
      <!--1ra columna de la tabla-->

      <!--2da columna de la tabla-->
      <table>
      <tr>
      <td><%= image_tag("logo-firma1.jpg", class: "dark-logo", alt: "inicio") %>
      <h4> <b "font-bold"> Dr. Mauricio E. Farfan Espinoza<BR />
      JEFE DE COMISION DE PROCESOS </h4> </b> </td>
      <!--fin 2da columna de la tabla-->

      <td width="350px;"></td>

      <!--3ra columna de la tabla-->
      <td><%= image_tag("logo-firma.jpg", class: "dark-logo", alt: "inicio") %>
      <h4><b "font-bold">Ing. Alberto Arce Tejada <br />
      SECRETARIO GENERAL UMSA </h4></b></td>
      </tr>
      </table>
      <!--fin 3ra columna de la tabla-->
    </div>
  </div>
</div>  
<!--fin de 4ta fila-->


<!--5ta fila-->                                 
<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <p style="font-size: 8pts;color: black"><p>
        <hr>
        <class="font-Arial">
        Nota: El presente Certificado debe llevar el Sello de Aprobación de Secretaria General más el registro Qr. El certificado tiene vigencia de 30 días hábiles y solo es para uso interno de la UMSA</p></b>
        <p><b> Reg.No.<%= @datos_persona.no_reg %> </p></b> 
        <p><b>User/<%= @datos_persona.fallo %></b> </p> 
        </hr> 
    </div>
  </div>
</div>                    

<!--fin de 5ta fila-->