<style>

  blockquote {
    padding: 1px;
    border: Black 5px solid;
    border-radius: 15px;
    font-family: Arial Black;
    font-weight: bold;
    font-size: 10pt;
  }

  .impresion {
    width: 850px;
    color: #000000;
  }

  .cabecera {
    width: 100%;
  }

  .contenido {
    text-align: justify;
    font-size: 14pt;
  }

  .tabla-datos {
    margin: auto;
    border: 0px solid #000000;
    width: 80%;
  }

  .tabla-datos tr td{
    border: 1px solid #000000;
    padding-left: -5px;
  }

  .tabla-datos tr th{
    border: 1px solid #000000;
    font-weight: 700;
    text-align: center;
  }

  .tabla-datos tr.cabecera{
    border: 1px solid #000000;
    font-weight: 700;
    height: 50px;
    text-align: center;
  }  

  @media print {

    .left-sidebar {
      display: none;
    }

    .topbar {
      display: none;
    }

    blockquote {
      padding: 1px;
      border: Black 5px solid;
      border-radius: 15px;
    }

    .impresion {
      width: 900px;
    }

    .cabecera {
      width: 100%;
    }

    .contenido {
      text-align: justify;
      font-size: 14pt;
    }

  }
</style>

<!--1ra fila tabla para poner fecha del certificado-->
<div class="row">
  <div class="col-lg-12">
    <div class="impresion">
      <table class="cabecera">
        <tr>
          <td style="width: 60%">
            <h1>&nbsp;</h1>
            <blockquote>
              <h2 class="font-Arial"><p><b>La Paz, <%= @datos_impreso.fecha_emi_certf %></p></b>
                <p><b>COM.UNIV.PROC.CERTF: <%= @datos_impreso.correlt_certf %></b></p></h2>
            </blockquote>
          </td>

          <td width="50%" height="0px" style="text-align: right;">&nbsp;
            <div id="codigoQR">
              <h1>&nbsp;</h1>
            </div>
          </td>

          <td style="text-aling: right;">
            <h1>&nbsp;</h1>
            <%= image_tag("logo-sello.jpg", class: "dark-logo", alt: "inicio") %> 
          </td>
        </tr>
      </table>

      <p class="contenido" style="font-size: 19pt; font-weight:normal;">
        La Comision Universitaria de Procesos del Honorable Consejo Universitario de la Universidad Mayor de San Andres, a solicitud escrita del Interesado.
        <hr />
      </p>

      <p class="contenido" style="font-size: 35pt; font-weight:normal;"><h1><b>Certifica: </b></h1></p>

      <p class="contenido" style="font-size: 19pt; font-weight:normal;">
      Revisada la documentación en la Comisión Universitaria de Procesos, se evidencia que:</p>

      <h5>&nbsp;</h5>

      <!-- comenzamos la impresion -->
      <!-- definimos las varialbles de impresion -->
      <% cantidad_primera_hoja = 12 %>
      <% cantidad_hoja = 17 %>

      <table class="tabla-datos">
        <tr class="cabecera">
          <th>No.</th>
          <th>NOMBRES Y APELLIDOS</th>
          <th>C.I.</th>
        </tr>
        <% @personas_escogidas.each_with_index do |p, index| %>
        <% if index == cantidad_primera_hoja %>
          <% break %>
        <% end %>
        <tr>
          <td style="text-align: center;"><%= index+1 %></td>
          <td>
            <%= p.persona.nombre %>
            <%= p.persona.ap_paterno %>
            <%= p.persona.ap_materno %>
          </td>
          <td><%= p.persona.ci %></td>
        </tr>
        <% end %>
      </table>

      cantidad <%= cantidad_total_sin_primera = @personas_escogidas.length-cantidad_primera_hoja %><br>
      hojas <%= cantidad_hojas = cantidad_total_sin_primera/cantidad_hoja %><br>
      sobrante <%= cantidad_sobrantes = cantidad_total_sin_primera - (cantidad_hoja * cantidad_hojas) %><br>

      <% if cantidad_hojas > 0 %>

      <% contador = 1 %>
        <% for i in 1..cantidad_hojas do %>
          Inicio: <%= inicio = contador*cantidad_hoja %><br>
          Final: <%= final = inicio+cantidad_hoja %><br>
          Contador: <%= contador %><br>
          <table class="cabecera">
            <tr>
              <td style="width: 60%">
                <blockquote>
                  <h2 class="font-Arial"><p><b>La Paz, <%= @datos_impreso.fecha_emi_certf %></b></p>
                  <p><b>COM.UNIV.PROC.CERTF: <%= @datos_impreso.correlt_certf %></b></p></h2>
                </blockquote>
              </td>
              <td width="50%" height="0px">&nbsp;
                <td style="text-align: right;">
                  <div class="codigoQR2">
                  </div>
                </td>
                <td style="text-aling: right;">
                  <%= image_tag("logo-sello.jpg", class: "dark-logo", alt: "inicio") %> 
                </td>
              </tr>
          </table>

          <table class="tabla-datos">
            <tr class="cabecera">
              <th>No.</th>
              <th>NOMBRES Y APELLIDOS</th>
              <th>C.I.</th>
            </tr>
            <% @personas_escogidas.each_with_index do |p, index| %>

              <% if index > inicio && index < final %>
                <tr>
                  <td style="text-align: center;"><%= index+1 %></td>
                  <td>
                    <%= p.persona.nombre %>
                    <%= p.persona.ap_paterno %>
                    <%= p.persona.ap_materno %>
                  </td>
                  <td><%= p.persona.ci %></td>
                </tr>
              <% end %>
            
            <% end %>
          </table>
          <% contador+=1 %>
        <% end %>
        
      <% else %>
          
      <% end %>

      <table class="tabla-datos">
        <tr class="cabecera">
          <th>No.</th>
          <th>NOMBRES Y APELLIDOS</th>
          <th>C.I.</th>
        </tr>
        <% @personas_escogidas.each_with_index do |p, index| %>
        <% if index > 1 %>
          <% break %>
        <% end %>
        <tr>
          <td style="text-align: center;"><%= index+1 %></td>
          <td>
            <%= p.persona.nombre %>
            <%= p.persona.ap_paterno %>
            <%= p.persona.ap_materno %>
          </td>
          <td><%= p.persona.ci %></td>
        </tr>
        <% end %>
      </table>            

      <!-- fin comenzamos la impresion -->

      <% if (@personas_escogidas.length < 12) %>

        <table class="tabla-datos">
          <tr>
            <th>No.</th>
            <th>NOMBRES Y APELLIDOS</th>
            <th>C.I.</th>
          </tr>
          <% @personas_escogidas.each_with_index do |p, index| %>
          <tr>
            <td style="text-align: center;"><%= index+1 %></td>
            <td>
              <%= p.persona.nombre %>
              <%= p.persona.ap_paterno %>
              <%= p.persona.ap_materno %>
            </td>
            <td><%= p.persona.ci %></td>
          </tr>
          <% end %>
        </table>

      <% else %>

          <table class="tabla-datos">
            <tr>
              <td width="10%" height="50px">&nbsp;
                <h3 class="font-Arial text-center">
                <b>No.</b></h3>
              </td>
              <td width="65%" height="50px">&nbsp;
                <h3 class="font-Arial text-center">
                <b> Nombres y Apellidos</b></h3>
              </td>
              <td width="25%" height="50px">&nbsp;
                <h3 class="font-Arial text-center">
              <b>Carnet de Identidad</b></h3></td>
            </tr>
            <tr>
              <% contador=1 %>
              <% @personas_escogidas.each_with_index do |p, index| %>
              <% if index <= 11 %>
              <td style="text-align: center;"><h4><b><%= contador %></b></h4></td>
              <td width="65%" height="50px">&nbsp;
                <h4 class="font-bold text-justify">
                <%# index %><%= p.persona.nombre %>
                <%= p.persona.ap_paterno %>
                <%= p.persona.ap_materno %>
                </h4>
              </td>
              <td width="25%" height="50px">&nbsp;
                <h4 class="font-bold text-center">
                <%= p.persona.ci %>
                </h4>
              </td>
            </tr>
              <% contador=contador+1 %>
              <% end %>
            <% end %>
            </table>


            <h1>&nbsp;</h1>
            <h1>&nbsp;</h1>
            <h1>&nbsp;</h1>
            <h1>&nbsp;</h1>

            <!-- cabecera -->
            <table class="cabecera">
              <tr>
                <td style="width: 60%">
                  <blockquote>
                    <h2 class="font-Arial"><p><b>La Paz, <%= @datos_impreso.fecha_emi_certf %></b></p>
                      <p><b>COM.UNIV.PROC.CERTF: <%= @datos_impreso.correlt_certf %></b></p></h2>
                    </blockquote>
                  </td>
                  <td width="50%" height="0px">&nbsp;
                    <td style="text-align: right;">
                        <div id="codigoQR2">
                        </div>
                    </td>

                    <td style="text-aling: right;">
                      <%= image_tag("logo-sello.jpg", class: "dark-logo", alt: "inicio") %> </td>
                    </tr>
                  </table>

                  <h1>&nbsp;</h1>

                  <table class="tabla-datos">
    <tr>
        <th>
            <h3>
                <b>No.</b>
            </h3>
        </th>
        <th>
            <h3>
                <b>Nombres y Apellidos</b>
            </h3>
        </th>
        <th>
            <h3>
                <b>Carnet de Identidad</b>
            </h3>
        </th>
    </tr>

    <% @personas_escogidas.each_with_index do |p, index| %>
        <% if index > 11 %>

            <tr>
                <td style="text-align: center;">
                    <h4>
                        <b><%= contador %></b>
                    </h4>
                </td>

                <td width="65%" height="50px">&nbsp;
                    <h4 class="font-bold text-justify">
                        <%# index %><%= p.persona.nombre %>
                            <%= p.persona.ap_paterno %>
                            <%= p.persona.ap_materno %></h4>
                    </td>

                    <td width="25%" height="50px">&nbsp;
                        <h4 class="font-bold text-center">
                            <%= p.persona.ci %></h4>
                    </td>

                </tr>
                <% contador=contador+1 %><% end %>
            <% end %>
        </table>
    <% end %>

    <h1>&nbsp;</h1>
    <p class="contenido" style="font-size: 19pt; font-weight:normal;">A la fecha
        <b>NO</b>
        tiene sanción vigente como efecto de Proceso Universitario, es cuanto
        certificamos para los fines consiguientes.<br/>
    </p>

    <table class="cabecera">
        <tr>
            <td style="text-align: center;">
                <%= image_tag("logo-firma1.jpg", class: "dark-logo", alt: "inicio") %>
                <h3 class="font-Arial ">
                    <b>
                        <p>M.Sc.Mauricio E. Farf&aacute;n Espinoza</p>
                        <p>Responsable a.i.</p>
                        <p>COMISIÓN UNIVERSITARIA DE PROCESOS</p>
                    </b>
                </h3>
            </td>

            <td style="text-align: center;">
                <%= image_tag("logo-firma.jpg", class: "dark-logo", alt: "inicio") %>
                <h3 class="font-Arial ">
                    <b>
                        <p>Ing. Alberto Arce Tejada</p>
                        <p>Secretario General</p>
                        <p>UMSA</p>
                    </b>
                </h3>
            </td><br/>
        </tr>
    </table>

                                              <hr><hr />

                                              <p class="contenido"style="font-size: 16pt; font-weight:normal;"> <b>Nota:</b> Para su validez debe llevar el <b>sello de Aprobación de Secretaria General</b> más el registro <b>Qr.</b><br/> El certificado tiene vigencia hasta <b> <%= @datos_impreso.fecha_emi_certf + 30.days %> </b> y es de uso interno de la <b>UMSA</b></p>


                                              <p class="contenido"style="font-size: 12pt; font-weight:bold;">
                                               Reg.No.<%= @datos_impreso.no_reg %>
                                               <br/> C.c.Archivo.
                                               <br/>User/</b>
                                             </p>
                                           </div>
                                         </div>
                                        </div>

<% content_for :add_js do %>
  <script src="<%= asset_path '/js/jquery-qrcode-0.14.0.js' %>"></script>
  <script>
      var textoqr = " Secretaria General Ing. Alberto Arce Tejada UMSA La Paz, <%= @datos_impreso.fecha_emi_certf %> \n COM.UNIV.PROC.CERTF: <%= @datos_impreso.correlt_certf %> \n Reg.No.<%= @datos_impreso.no_reg %>";

      var options = {
        render: 'image'
        , size: 95
        , background: '#fdfdfd'
        , text: textoqr
      };

      $('#codigoQR').qrcode(options);
      $('.codigoQR2').qrcode(options);
    </script>
<% end %>
