<style type="text/css">
blockquote {
  padding: 0px 0px;
  border: Black 5px solid;
  border-radius: 10px;
}
.tabla-impresion{
  border: 1px solid #54667a;
  width: 100%;
}

.tabla-impresion tr td{
  border: 1px solid #54667a;
  padding: 0px;
  font-size: 9pt;
}
.tabla-impresion-cabecera tr td{
  width: 70%;
  padding: 0px;
  font-size: 9pt;
}
.tabla-impresion tr td.montos{
  border: 1px solid #54667a;
  padding: 0px;
  font-size: 9pt;
  text-align: right;
}
.tabla-impresion thead tr th{
  text-align: center;
  border: 1px solid black;
  font-weight: bold;
}
.mmt1{
 margin-top: -1px;
}
#nada {
margin: 0;
padding: 0;
border-width: 0;
}
@media print {
   .left-sidebar{
    display: none;
  }

  .topbar{
    display: none;
  }

  .tabla-impresion{
    border: 1px solid #54667a;
    width: 100%;
  }

  .tabla-impresion tr td{
    border: 1px solid #54667a;
    padding: 0px;
    font-size: 9pt;
  }
  .tabla-impresion-cabecera tr td{
    width: 70%;
    padding: 0px;
    font-size: 9pt;
  }
  .tabla-impresion tr td.montos{
    border: 1px solid #54667a;
    padding: 0px;
    font-size: 9pt;
    text-align: right;
  }
  .tabla-impresion thead tr th{
    text-align: center;
    border: 1px solid black;
    font-weight: bold;
  }
  .mmt1{
   margin-top: -8px;
  }
 .clase-impresion{
    color: black;
    width: 100px;
    font-size: 12pt;
  }
  .no-imprime{
    display: none;
  }
  .page-wrapper{
    margin-left: 0px;
  }
}
</style>

   
</style>
<!--h2>Emision de Certificados</h2-->
<!--1ra fila tabla para poner fecha del certificado-->
<div class="form body">
  <div class="row">
   <table width="800" border="0" height="20px">
    <tr>
      <td width="30%" height="20px">&nbsp;
        <b><blockquote>
          <time datetime= "strftime">
            <h2 class ="font-Arial"><b> 
              La Paz,
              <%= @datos_persona.fecha_emi_certf %> </b>
            </h2> </time>

            <h2 class ="font-Arial"><b>
              COM.UNIV.PROC.CERTF:<%= @datos_persona.correlt_certf %></b></h2>
            </blockquote></b>
          </td>
          <!--2da columna de la tabla-->
          <td width="60%" height="20px">&nbsp;</td>
          <!--fin de la 2da columna de la tabla-->

          <!--fin de la 3ra columna de la tabla-->
          <td width="5%" height="10px">&nbsp;
            <%= image_tag("logo-qr.jpg", class: "dark-logo", alt: "inicio") %></td>
            <!--fin de la 3ra columna de la tabla-->

            <!--fin de la 4ta columna de la tabla-->
            <td width="5%" height="10px">&nbsp;
              <%= image_tag("logo-sello.jpg", class: "dark-logo", alt: "inicio") %> </td>
              <!--fin de la 4ta columna de la tabla-->
            </tr>
          </table>
        </div>
      </div>

      <div class="form body">
        <div class="row">
          <table width="800" border="0" height="80px">
            <tr>
              <td width="800" height="70px">&nbsp;
                <p> <hr> <h2 class="font-Arial - text-justify">
                  <div id "nada">La Comisión Universitaria de Procesos del Honorable Consejo Universitario de la Universidad Mayor de San Andrés, a solicitud escrita del Interesado.</h2> </p> </hr>
                    <br> <h1 class="font-bold"> Certifica:</h1> </br>
                    <h2 class="font-Arial - text-justify"> Que, revisada la documentación en la Comisión Universitaria de Procesos, se evidencia que:</h2>
                  </table>
                </div>
              </div>

              <div class="form body">
                <div class="row">
                  <table width="800" border="0" height="80px">
                    <tr> <center>
                      <td width="800" height="70px">&nbsp;
                        <h1 class="font-bold text-center">
                          <% debug @datos_persona %>
                          <%= @datos_persona.nombre %> 
                          <%= @datos_persona.ap_paterno %> 
                          <%= @datos_persona.ap_materno %> 
                        </h1>
                        <h1 class="font-bold text-center">C.I. No.
                          <%= @datos_persona.ci %></h1></td>
                        </center></tr></table>
                      </div>
                    </div>

                  
                    <div class="form body">
                      <div class="row">
                        <table width="800" border="0" height="80px">
                          <tr> <center>
                            <td width="800" height="70px">&nbsp;    
                              <h2 class="font-Arial text-justify">
                               A la fecha 
                               <b><%= @datos_persona.fallo %></b> tiene fallo sancionatorio ejecutoriado en su contra, es cuanto certificamos para los fines consiguientes.</h2> 
                             </td></center></tr></table>
                           </div>
                         </div>


                         <div class="form body">
                          <div class="row">
                           <table width="800" border="0" height="90px">
                            <tr> <center>
                             <td><center><%= image_tag("logo-firma1.jpg", class: "dark-logo", alt: "inicio") %></center>
                              <h3><b><center>
                                M.Sc. Mauricio E. Farfan Espinoza<BR /></center>
                                <center>Responsable a.i.</center>
                                <center>COMISIÓN UNIVERSITARIA DE PROCESOS</center></b></h3></td> 
                                
                                <td width="20px"></td>

                                <!--3ra columna de la tabla-->
                                <td><center><%= image_tag("logo-firma.jpg", class: "dark-logo", alt: "inicio") %></center>
                                  <h3><b>
                                    <center>Ing. Alberto Arce Tejada <br/></center>
                                    <center>SECRETARIO GENERAL</center>
                                    <center>UMSA</center></b></h3></td>
                                  </center></tr></table>
                                </div>
                              </div>        

                              <div class="form body">
                                <div class="row">
                                 <table width="800" border="0" height="80px">
                                  <tr>
                                   <td width="800" height="70px">&nbsp;    
                                     <h3 class="font-Arial text-justify">
                                       <b>Nota:</b> El Certificado tiene vigencia de <b>30 días calendario</b><br/> El presente Certificado para su validez debe llevar el <b>sello de Aprobación de Secretaria General</b> más el registro Qr. y solo es para uso interno de la <b>UMSA</b></h3><br/>
                                       <h5 class="font-Arial text-justify">     
                                        <b> Reg.No.<%= @datos_persona.no_reg %><br/>C.c.Archivo.<br/>User/</b>
                                      </h5></td>                                </tr></table>
                                    </div>
                                  </div>
<!--fin de 5ta fila-->