<style>

    blockquote {
        padding: 1px;
        border: Black 5px solid;
        border-radius: 15px;
        font-family: Arial Black;
        font-weight: bold;
        font-size: 10pt;
    }

    .impresion {
        width: 850px;
        color: #000000;
    }

    .cabecera {
        width: 100%;
    }

    .contenido {
        text-align: justify;
        font-size: 14pt;
    }

    .tabla-datos {
        margin: auto;
        border: 0 solid #000000;
        width: 80%;
    }

    .tabla-datos tr td {
        border: 1px solid #000000;
        padding-left: -5px;
    }

    .tabla-datos tr th {
        border: 1px solid #000000;
        font-weight: 700;
        text-align: center;
    }

    @media print {

        .left-sidebar {
            display: none;
        }

        .topbar {
            display: none;
        }

        blockquote {
            padding: 1px;
            border: Black 5px solid;
            border-radius: 15px;
        }

        .impresion {
            width: 900px;
        }

        .cabecera {
            width: 100%;
        }

        .contenido {
            text-align: justify;
            font-size: 14pt;
        }

    }
</style>

<!--h2>Emision de Certificados</h2-->
<!--1ra fila tabla para poner fecha del certificado-->
<div class="row">
    <div class="col-lg-12">
        <div class="impresion">
            <table class="cabecera">
                <tr>
                    <td style="width: 50%">
                        <h1>&nbsp;</h1>
                        <h1>&nbsp;</h1>
                        <blockquote>
                            <h2 class="font-Arial">
                                <p>
                                    <b>La Paz,
                                        <%= @datos_persona.fecha_emi_certf %></b>
                                </p>
                                <b>
                                    <p>COM.UNIV.PROC.CERTF:<%= @datos_persona.correlt_certf %></p>
                                </b>
                            </h2>
                        </blockquote>
                    </td>

                    <td width="50%" height="0px">&nbsp;
                        <td style="text-align: right;">
                            <div style="" id="codigoQR">
                                <h1>&nbsp;</h1>
                            </div>
                        </td>
                        <td style="text-aling: right;">
                            <h1>&nbsp;</h1>

                            <%= image_tag("logo-sello.jpg", class: "dark-logo", alt: "inicio") %>
                        </td>
                    </tr>
                </table>

                <p class="contenido" style="font-size: 19pt; font-weight:normal;">
                    La Comisión Universitaria de Procesos del Honorable Consejo Universitario de la
                    Universidad Mayor de San Andrés, a solicitud escrita del Interesado.
                    <hr></hr>
                </p>

                <p class="contenido" style="font-size: 32pt; font-weight:normal;">
                    <b>
                        <h1>Certifica:
                        </h1>
                    </p>
                </b>

                <p class="contenido" style="font-size: 19pt; font-weight:normal;">
                    Revisada la documentación en la Comisión Universitaria de Procesos, se evidencia
                    que:</p>
                <hr></hr>

                <table width="800" border="0" height="60px">
                    <tr>
                        <center>
                            <td width="800" height="60px">&nbsp;
                                <h1 class="font-bold text-center">
                                    <% debug @datos_persona %>
                                        <%= @datos_persona.nombre %>
                                        <%= @datos_persona.ap_paterno %>
                                        <%= @datos_persona.ap_materno %>
                                    </h1>
                                    <h1 class="font-bold text-center">C.I. No.
                                        <%= @datos_persona.ci %></h1>
                                </td>
                            </center>
                        </tr>
                    </table>

                    <hr>
                    <hr/>

                    <p class="contenido" style="font-size: 19pt; font-weight:normal;">A la fecha
                        <b><%= @datos_persona.fallo %></b>
                        tiene fallo sancionatorio ejecutoriado en su contra, es cuanto certificamos para
                        los fines consiguientes.<br/>
                    </p>

                    <table class="cabecera">
                        <tr>
                            <td style="text-align: center;">
                                <%= image_tag("logo-firma1.jpg", class: "dark-logo", alt: "inicio") %>
                                <h3 class="font-Arial ">
                                    <b>
                                        <p>M.sc.Mauricio E. Farfan Espinoza<br/>
                                        Responsable a.i.<br/>
                                        COMISIÓN UNIVERSITARIA DE PROCESOS</p>
                                    </b>
                                </h3>
                            </td>

                            <td style="text-align: center;">
                                <%= image_tag("logo-firma.jpg", class: "dark-logo", alt: "inicio") %>
                                <h3 class="font-Arial ">
                                    <b>
                                        <p>Ing. Alberto Arce Tejada<br/>
                                        Secretario General<br/>
                                        UMSA</p>
                                    </b>
                                </h3>
                            </td><br/>
                        </tr>
                    </table>

                    <hr><hr/>

                    <p class="contenido" style="font-size: 16pt; font-weight:normal;">
                        <b>Nota:</b>
                        Para su validez debe llevar el
                        <b>sello de Aprobación de Secretaria General</b>
                        más el registro
                        <b>Qr.</b><br/>
                        El certificado tiene vigencia hasta
                        <b> <%= @datos_persona.fecha_emi_certf + 30.days %> </b>
                        y es de uso interno de la
                        <b>UMSA</b>
                    </p>

                    <p class="contenido" style="font-size: 12pt; font-weight:bold;">
                        Reg.No.<%= @datos_persona.no_reg %>
                        <br/>
                        C.c.Archivo.
                        <br/>User/<%= @datos_persona.rev_inic %></b>
                </p>
            </div>
        </div>
    </div>

    <% content_for :add_js do %>
        <script src="<%= asset_path '/js/jquery-qrcode-0.14.0.js' %>"></script>
        <script>
            var textoqr = "Secretaria General Ing. Alberto Arce Tejada UMSA La Paz, <%= @datos_persona.fecha_emi_certf %> \n COM.UNIV.PROC.CERTF: <%= @datos_persona.correlt_certf %> \n Reg.No.<%= @datos_persona.no_reg %>";

            var options = {
                render: 'image',
                size: 95,
                background: '#fdfdfd',
                text: textoqr
            };

            $('#codigoQR').qrcode(options);
            $('#codigoQR2').qrcode(options);
        </script>
    <% end %>