<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @persona.item %>
</p>

<p>
  <strong>Ci:</strong>
  <%= @persona.ci %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @persona.nombre %>
</p>

<p>
  <strong>Ap_Paterno:</strong>
  <%= @persona.ap_paterno %>
</p>

<p>
  <strong>Ap_Materno:</strong>
  <%= @persona.ap_materno %>
</p>

<p>
  <strong>Facultad:</strong>
  <%= @persona.facultad %>
</p>

<p>
  <strong>Carrera:</strong>
  <%= @persona.carrera %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @persona.tipo %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @persona.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @persona.telefono %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @persona.categoria %>
</p>

<p>
  <strong>Fallo:</strong>
  <%= @persona.fallo %>
</p>

<p>
  <strong>Observacion:</strong>
  <%= @persona.observacion %>
</p>

<p>
  <strong>Borrado:</strong>
  <%= @persona.borrado %>
</p>

<%= link_to 'Edit', edit_persona_path(@persona) %> |
<%= link_to 'Back', personas_path %>
